{% extends 'base.html' %}
{% load static %}


{% block metadescription %}
 We have variety of products
{% endblock %}

{% block title %}
 Search results....{{query}}
{% endblock %}

{% block content %}
<div class="my_text_class">
    <p class="text-center ">You have searched for : <b>{{query}}</b></p>
</div>
<div class="container">
       <div class="row mx-auto">
           {% for i in products %}
           <div class="my_bottom_margin col-9 col-sm-12 col-md-4  col-lg-4">
           <div class="card text-center" style="min-width: 18rem;">
             <a href="{{i.get_url}}"><img class="card-img-top my_image" src="{{i.image.url}}" alt="{{i.name}}" width="200px"></a>
            <div class="card-body">
              <h4>{{i.name}}</h4>
              <p>$ {{i.price}}</p>
            </div>
           </div>
           </div>
           {% empty %}
           <div class="row mx-auto my_text_class">
               <p class="text-center "><b>0 Results Found!!</b></p>
           </div>
           {% endfor %}
       </div>
</div>



{% endblock %}